option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi:app
  aws:elasticbeanstalk:application:environment:
    PYTHONUNBUFFERED: "1"
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 20
  aws:elasticbeanstalk:command:
    Timeout: 600

packages:
  yum:
    tesseract: []
    tesseract-langpack-ces: []

container_commands:
  01_gunicorn_timeout:
    command: "echo 'timeout = 300' >> /opt/python/ondeck/app/.ebextensions/gunicorn_config.py"
